.login{
    width: 100%;
    height: 750px;
    
    background:linear-gradient(#0d2457, #164092);
    display: flex;
    align-items: center;
    justify-content: center;
}

.quadrado{
    width: 350px;
    height: 400px;

    background-color: #1b4cad7a;
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    
    border: #2058c9 solid 3px;
    color: #fff;
}
.quadrado h1{
    color: #fff;
}
fieldset{
    height: 150px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
input{
    height: 30px;
    width: 200px;
    background-color: transparent;

    border: solid #fff;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}
::placeholder{
    font-size: 18px;
    color: #fff;
}
.buton{
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #2360db;
    border-radius: 5px;

    color: #fff;
}
.quadrado img{
    width: 100px;
}
.linke{
    text-decoration: none;
    color: #fff;
}
.linke:hover{
    text-decoration:overline;
}